<%= form_for current_user, html: { multipart: true } do |f| %>
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  
  <div><%= f.label :about_me %><br />
  <%= f.text_area :about_me %></div>

  <div><%= f.label :experience %><br />
  <%= f.text_area :experience %></div>
  
  <div><%= f.label :education %><br />
  <%= f.text_area :education %></div>
  
  <div>
  	<select name='user[state_id]' class="state-select">
      <% @states.each do |state| %>
        <% if current_user.state %>
          <option value="<%= state[:id] %>" data-cities="<%= state[:cities].to_json %>" "<% if current_user.state.id == state[:id] %>" selected=selected "<% end %>"><%= state[:name] %></option>
        <% else %>
          <option value="<%= state[:id] %>" data-cities="<%= state[:cities].to_json %>"><%= state[:name] %></option>
        <% end %>
      <% end %>
  	</select>

  	<select name='user[city_id]' class="city-select">
  	  <% if current_user.city && current_user.state %>
  	    <% State.find(current_user.state.id).cities.each do |city| %>
            <option value="<%= city.id %>" "<% if current_user.city.id == city.id %>" selected=selected "<% end %>"><%= city.name %></option>
        <% end %>
  	  <% else %>
    	  <% @states[0][:cities].each do |city| %>
            <option value="<%= city[:id] %>"><%= city[:name] %></option>
        <% end %>
  	  <% end %>

  	</select>
  </div>
  
  <%= f.file_field :avatar %>
  
  <div><%= f.submit "Update Profile" %></div>
<% end %>