<% if current_user.first_name.present? %>
  <h1><%= current_user.first_name %>'s Profile</h1>
<% else %>
  <h1><%= current_user.email %>'s Profile</h1>
<% end %>

<%= image_tag current_user.avatar.url %>

<div>Rating: <%= @rating %></div>

<div>First Name: <%= current_user.first_name %></div>
<div>Last Name: <%= current_user.last_name %></div>
<div>Email: <%= current_user.email %></div>
<div>State: <%= current_user.state.name rescue 'N/A' %></div>
<div>City: <%= current_user.city.name rescue 'N/A' %></div>

<div>About Me: <br /><%= current_user.about_me %></div>
<div>Experience: <br /><%= current_user.experience %></div>
<div>Education: <br /><%= current_user.education %></div>

<h1>Open Contracts</h1>
<% @open_contracts.each do |contract| %>
  <div>
    <div>Contract ID <%= contract.id %></div>
    <div>
      <div>People on Contract:</div>
        <ul>
          <% contract.users.each do |user| %>
            <li>
              <%= user.email %>
              <% unless user == current_user %>
                <% rating = contract.ratings.where(user_id: user.id).first %>
                <%= link_to "Rate", edit_rating_path(rating) %>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>

<h1>Recommendations</h1>
<% @recommendations.each do |recommendation| %>
  <div>
    <div>Written By: <%= User.find(recommendation.recommender_id).email %></div>
    <div>Subject: <%= recommendation.subject %></div>
    <div>Body: <%= recommendation.body %></div>
    <a href="<%= edit_recommendation_path(recommendation) %>">Edit Recommendation</a>
    <a href="<%= recommendation_path(recommendation) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a>
  </div>
<% end %>

<h1>Your Posts</h1>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
  <a href="<%= post_path(post) %>">View Post</a>
  <a href="<%= edit_post_path(post) %>">Edit Post</a>
  <a href="<%= post_path(post) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a>
<% end %>