<% if current_user.first_name.present? %>
  <h1><%= current_user.first_name %>'s Profile</h1>
<% else %>
  <h1><%= current_user.email %>'s Profile</h1>
<% end %>

<div>First Name: <%= current_user.first_name %></div>
<div>Last Name: <%= current_user.last_name %></div>
<div>Email: <%= current_user.email %></div>
<div>State: <%= current_user.state.name rescue 'N/A' %></div>
<div>City: <%= current_user.city.name rescue 'N/A' %></div>

<h1>Your Posts</h1>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
  <a href="<%= post_path(post) %>">View Post</a>
  <a href="<%= edit_post_path(post) %>">Edit Post</a>
  <a href="<%= post_path(post) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a>
<% end %>