<%= form_for @post, url: post_path(@post) do |f| %>
  <div><%= f.label :subject %><br />
  <%= f.text_field :subject %></div>

  <div><%= f.label :body %><br />
  <%= f.text_area :body %></div>
  
  <div>
    <label>
      <input type="radio" name="post[type]" value="WorkWantedPost" "<% if @post.type == 'WorkWantedPost' %>" checked=checked "<% end %>" />
      I am looking for work.
    </label>
    <label>
      <input type="radio" name="post[type]" value="HelpWantedPost" "<% if @post.type == 'HelpWantedPost' %>" checked=checked "<% end %>"/>
      I am looking for musicians.
    </label>
  </div>
  
  <div>
    <div>Pick an Instrument</div>
    <% Instrument.all.each do |instrument| %>
      <input type="checkbox" id="instrument-<%= instrument.name %>" name="instrument_ids[]" value="<%= instrument.id %>" "<% if @post.instruments.map(&:id).include?(instrument.id) %>" checked=checked "<% end %>"/>
      <label for="instrument-<%= instrument.name %>"><%= instrument.name %></label>
    <% end %>
  </div>
  
  <div>
    <div>Pick a Genre</div>
    <% Genre.all.each do |genre| %>
      <input type="checkbox" id="genre-<%= genre.name %>" name="genre_ids[]" value="<%= genre.id %>" "<% if @post.genres.map(&:id).include?(genre.id) %>" checked=checked "<% end %>"/>
      <label for="genre-<%= genre.name %>"><%= genre.name %></label>
    <% end %>
  </div>
  
  <div>Specialty</div>
  <% Specialty.all.each do |specialty| %>
    <label>
      <input name="specialty_ids[]" type="checkbox" value="<%= specialty.id %>" "<% if @post.specialties.map(&:id).include?(specialty.id) %>" checked=checked "<% end %>">
      <%= specialty.name %>
    </label>
  <% end %>
  
  <div><%= f.label :rate %><br />
  $<%= f.text_field :rate %></div>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div><%= f.submit "Update Post" %></div>
<% end %>