<%= link_to "My Profile", user_path(current_user) %>
<%= link_to "New Post", new_post_path %>
<%= link_to "Posts", posts_path %>

<div id="search-container">
  <h3>Search Posts</h3>
  <%= form_tag("/posts/search", method: "post") do %>
    <!-- <%= label_tag(:email, "Search for:") %> -->
    <!-- <%= text_field_tag(:email) %> -->
    Published by:
    <% @users.each do |user| %>
      <label>
        <input name="users[]" type="checkbox" value="<%= user.id %>">
        <%= user.email %>
      </label>
    <% end %>
    <%= submit_tag("Search Posts") %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class="post">
    <div>Posted at: <%= post.created_at.strftime("%A %B %d %Y at %I:%M %p") %></div>
    <div>Post by: <%= post.user.email %></div>
    <div>Subject: <%= post.subject %></div>
    <div>Body: <%= post.body %></div>
  </div>
<% end %>