<div id="search-container">
  <h3>Search Posts</h3>
  <%= form_tag("/posts/search.json", method: "post", remote: true, id: 'post-search-form') do %>
  
    <div>Type</div>
    <div>
      <label>
        <input name="type" type="radio" value="WorkWantedPost">
        Find Musicians
      </label>
      
      <label>
        <input name="type" type="radio" value="HelpWantedPost">
        Find Opportunities
      </label>
    </div>
    
    <div>Published by:</div>
    <div>
    <% User.all.each do |user| %>
      <label>
        <input name="users[]" type="checkbox" value="<%= user.id %>">
        <%= user.email %>
      </label>
    <% end %>
    <div>

    <select name='state_id' class="state-select">
      <% @states.each do |state| %>
        <option value="<%= state[:id] %>" data-cities="<%= state[:cities].to_json %>"><%= state[:name] %></option>
      <% end %>
  	</select>

  	<select name='city_id' class="city-select">
      <% @states[0][:cities].each do |city| %>
        <option value="<%= city[:id] %>"><%= city[:name] %></option>
      <% end %>
  	</select>
		
    <div>Instrument</div>
    <div>
    <% Instrument.all.each do |instrument| %>
      <label>
        <input name="instruments[]" type="checkbox" value="<%= instrument.id %>">
        <%= instrument.name %>
      </label>
    <% end %>
    <div>
      
    <div>Genre</div>
    <div>
    <% Genre.all.each do |genre| %>
      <label>
        <input name="genres[]" type="checkbox" value="<%= genre.id %>">
        <%= genre.name %>
      </label>
    <% end %>
    
    <div>Specialty</div>
    <div>
    <% Specialty.all.each do |specialty| %>
      <label>
        <input name="specialties[]" type="checkbox" value="<%= specialty.id %>">
        <%= specialty.name %>
      </label>
    <% end %>
    <div>
      
    <div>Rate</div>
    <div>
      <label>
        Minimum Rate
        <input name="rate[minimum]" type="text_field">
      </label>
      
      <label>
        Maximum Rate
        <input name="rate[maximum]" type="text_field">
      </label>
    </div>
    <div>
    <%= submit_tag("Search Posts") %>
    </div>
  <% end %>
</div>

<div id="posts-container">
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
    <a href="<%= post_path(post) %>">View Post</a>
    <%= form_for Request.new do |f| %>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <%= f.hidden_field :receiver_id, value: post.user_id %>
      <%= f.hidden_field :pending, value: true %>
      <%= f.submit "Send Request" %>
    <% end %>
  <% end %>
</div>