<%= link_to "My Profile", user_path(current_user) %>
<%= link_to "New Post", new_post_path %>
<%= link_to "Posts", posts_path %>

<div id="search-container">
  <h3>Search Posts</h3>
  <%= form_tag("/posts/search.json", method: "post", remote: true, id: 'post-search-form') do %>
    <div>Published by:</div>
    <% @users.each do |user| %>
      <label>
        <input name="users[]" type="checkbox" value="<%= user.id %>">
        <%= user.email %>
      </label>
    <% end %>
    <div>
    <div>Instrument</div>
    <% @instruments.each do |instrument| %>
      <label>
        <input name="instruments[]" type="checkbox" value="<%= instrument.id %>">
        <%= instrument.name %>
      </label>
    <% end %>
    <div>
    <div>Genre</div>
    <% @genres.each do |genre| %>
      <label>
        <input name="genres[]" type="checkbox" value="<%= genre.id %>">
        <%= genre.name %>
      </label>
    <% end %>
    
    <div>Specialty</div>
    <% @specialties.each do |specialty| %>
      <label>
        <input name="specialties[]" type="checkbox" value="<%= specialty.id %>">
        <%= specialty.name %>
      </label>
    <% end %>
    <div>
    <%= submit_tag("Search Posts") %>
    </div>
  <% end %>
</div>

<div id="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <div>Posted at: <%= post.created_at.strftime("%A %B %d %Y at %I:%M %p") %></div>
      <div>Post by: <%= post.user.email %></div>
      <div>Subject: <%= post.subject %></div>
      <div>Body: <%= post.body %></div>
      <div>Instruments: <%= post.instruments.collect { |instrument| instrument.name }.join(', ') %></div>
      <div>Genres: <%= post.genres.collect { |genre| genre.name }.join(', ') %></div>
      <div>Specialties: <%= post.specialties.collect { |specialty| specialty.name }.join(', ') %></div>
      <a href="<%= edit_post_path(post) %>">Edit Post</a>
    </div>
  <% end %>
</div>